.keyboard__container {
	display: grid;
	grid-template-columns: repeat(4, 60px);
	grid-template-rows: repeat(5, 60px);
	align-items: center;
	justify-content: space-between;
	gap: 20px;

	border-radius: 15px;
	padding: 50px;
}

.keyboard__container.black {
	background: var(--black-secondary);
}

.keyboard__container.white {
	background: var(--white-secondary);
}
